---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="min-h-screen flex flex-col justify-between pt-8 p-8 bg-white text-gray-900"
  >
    <main class="max-w-[40ch] w-full space-y-6 relative">
      <!-- <div
        class="fixed top-6 bottom-6 flex flex-col items-center justify-between left-6 hidden lg:flex"
      >
        <div class="top-0 bottom-0 absolute border-r border-current"></div><div
          class="border-t w-3"
        >
        </div><div class="border-t w-3"></div><div class="border-t w-3">
        </div><div class="border-t w-3"></div><div class="border-t w-3">
        </div><div class="border-t w-3"></div><div class="border-t w-3"></div>
      </div>
      <div
        class="fixed top-6 bottom-6 flex flex-col items-center justify-between right-6 hidden lg:flex"
      >
        <div class="top-0 bottom-0 absolute border-r border-current"></div><div
          class="border-t w-3"
        >
        </div><div class="border-t w-3"></div><div class="border-t w-3">
        </div><div class="border-t w-3"></div><div class="border-t w-3">
        </div><div class="border-t w-3"></div><div class="border-t w-3"></div>
      </div> -->
      <h1 class="text-xl font-bold">Hi, I'm Dmytro.</h1>
      <p>
        I'm a full-stack developer with a passion for building web applications.
        I also build tools, apps and run experiments.

        <!-- Newsletter I run
        a newsletter about design, coding, ai and open source. -->
      </p>
      <div
        class="flex space-x-4 uppercase tracking-wider text-[0.7rem] font-medium"
      >
        <a
          href="https://x.com/tihunov"
          target="_blank"
          rel="noopener noreferrer hover:underline">X</a
        ><a
          href="mailto:hi@dmytro.lol"
          target="_blank"
          rel="noopener noreferrer hover:underline">Mail</a
        >
        <a
          href="https://github.com/tihunov"
          target="_blank"
          rel="noopener noreferrer hover:underline">GitHub</a
        >
      </div>
      <div class="mt-4">
        <p class="text-sm font-medium text-neutral-600 tracking-wider mb-2">
          I am working on:
        </p>
        <ul>
          <li
            class="hover:bg-neutral-100 rounded-md p-2 list-inside hover:underline"
          >
            <a
              class="flex items-center space-x-2"
              href="https://english.notion.site"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="size-10 bg-neutral-200 rounded-xl">1</div>
              <div class="text-sm flex flex-col font-medium">
                <span
                  class="text-neutral-600 tracking-wider uppercase text-[0.7rem] font-medium"
                  >English.now</span
                >Self-Styding English Learning app.
              </div>
            </a>
          </li>
        </ul>
      </div>
      <footer
        class="flex text-neutral-600 tracking-wider uppercase text-[0.7rem] font-medium relative"
      >
        copyright © 2025
      </footer>
    </main>
  </div>
</Layout>
